<app-nav-bar></app-nav-bar>
<div class="max-w-screen-lg mx-auto p-5 mb-14">
    <div class="grid grid-cols-1 pb-8 mb-10 text-center">
        <h2 class="text-green-700 font-weight-bold text-3xl uppercase mb-2">
            Contact Us</h2>
        <p class="text-slate-400 dark:text-slate-300 text-lg max-w-xl mx-auto">Join our community today and experience
            the
            future of minerals and mining equipment trading!</p>
    </div>
    <div class="grid grid-cols-1 md:grid-cols-12 border">
        <div class="bg-green-900 md:col-span-4 p-10 text-white shadow-xl">
            <p class="mt-4 leading-7 font-regular uppercase">
                Contact
            </p>
            <h3 class="text-xl  sm:text-2xl text-white leading-normal font-extrabold tracking-tight">
                Get In <span class="text-yellow-500">Touch</span>
            </h3>
            <p class="mt-6 mb-6 leading-7 text-slate-400">
                Ore-zone is a pioneering online marketplace that facilitates the buying and selling of minerals and
                mining equipment. Registered with the Government of South Africa, our platform provides a secure,
                transparent, and efficient way for businesses and individuals to connect and trade.
            </p>

            <div class="flex items-center mt-10">
                <i class="fa fa-location-pin text-yellow-500 mr-3"></i>
                <span>69 Mandela St, 1035, South Africa</span>
            </div>
            <div class="flex items-center mt-5">
                <i class="fa fa-phone text-yellow-500 mr-3"></i>
                <span>+93 749 99 65 50</span>
            </div>
            <div class="flex items-center mt-5">
                <i class="fa fa-clock text-yellow-500 mr-3"></i>
                <span>24/7</span>
            </div>

        </div>
        <form action="https://fabform.io/f/{form-id}" method="post" class="md:col-span-8 p-10 shadow-xl">
            <div class="flex flex-wrap -mx-3 mb-6">
                <div class="w-full md:w-1/2 px-3 mb-6 md:mb-0">
                    <label class="block uppercase tracking-wide text-gray-700 font-bold mb-2" for="grid-first-name">
                        First Name
                    </label>
                    <input
                        class="appearance-none block w-full bg-gray-200 text-gray-700 rounded py-3 px-4 mb-3 leading-tight focus:outline-none focus:bg-white"
                        id="grid-first-name" type="text" placeholder="Jane">
                </div>
                <div class="w-full md:w-1/2 px-3">
                    <label class="block uppercase tracking-wide text-gray-700 font-bold mb-2" for="grid-last-name">
                        Last Name
                    </label>
                    <input
                        class="appearance-none block w-full bg-gray-200 text-gray-700 rounded py-3 px-4 mb-3 leading-tight focus:outline-none focus:bg-white"
                        id="grid-last-name" type="text" placeholder="Doe">
                </div>
            </div>
            <div class="flex flex-wrap -mx-3 mb-6">
                <div class="w-full px-3">
                    <label class="block uppercase tracking-wide text-gray-700 font-bold mb-2" for="grid-password">
                        Email Address
                    </label>
                    <input
                        class="appearance-none block w-full bg-gray-200 text-gray-700 rounded py-3 px-4 mb-3 leading-tight focus:outline-none focus:bg-white focus:border-gray-500"
                        id="grid-email" type="email" placeholder="********@*****.**">
                </div>
            </div>

            <div class="flex flex-wrap -mx-3 mb-6">
                <div class="w-full px-3">
                    <label class="block uppercase tracking-wide text-gray-700 font-bold mb-2" for="grid-password">
                        Your Message
                    </label>
                    <textarea rows="10"
                        class="appearance-none block w-full bg-gray-200 text-gray-700 rounded py-3 px-4 mb-3 leading-tight focus:outline-none focus:bg-white focus:border-gray-500"></textarea>
                </div>
                <div class="flex justify-between w-full px-3">
                    <div class="md:flex md:items-center">
                        <label class="block text-gray-500 font-bold">
                            <input class="mr-2 leading-tight" type="checkbox">
                            <span>
                                Send me your newsletter!
                            </span>
                        </label>
                    </div>
                    <button
                        class="mt-4 shadow bg-yellow-500 hover:bg-yellow-400 focus:shadow-outline focus:outline-none text-white font-bold py-2 px-6 rounded"
                        type="submit">
                        Send Message
                    </button>

                </div>

            </div>

        </form>

    </div>
</div>
<app-footer></app-footer>