<app-nav-bar></app-nav-bar>
<div class="2xl:section 2xl:mx-auto py-5 px-18 md:py-12 md:px-6 py-9 px-4">
    <div class="grid grid-cols-1 pb-8 mb-10 text-center">
        <h1 class="text-green-700 font-weight-bold text-3xl uppercase mb-2">About Us</h1>

        <p class="text-slate-400 dark:text-slate-300 text-lg max-w-xl mx-auto">Join our community today and experience
            the
            future of minerals and mining equipment trading!</p>
    </div>

    <div class="flex lg:flex-row flex-col lg:gap-8 sm:gap-10 gap-12">
        <div class="w-full lg:w-6/12">
            <h2 class="w-full mb-8 font-bold lg:text-2xl text-lg lg:leading-10 dark:text-white leading-9">Ore-zone is
                an
                online platform that facilitates the buying and selling of minerals and mining equipment.
            </h2>
            <p class="text-lg text-green-700 border-x-4 border-green-700 rounded-ss-xl rounded-ee-xl mt-3 p-3">
                Ore-zone is a pioneering online marketplace that facilitates the buying and selling of minerals and
                mining equipment. Registered with the Government of South Africa, our platform provides a secure,
                transparent, and efficient way for businesses and individuals to connect and trade.
            </p>
            <div class="w-full mt-14">
                <h2 class="font-bold lg:text-2xl text-lg lg:leading-9 leading-7 text-gray-800 dark:text-white">Our
                    Mission
                </h2>
                <p class="text-lg text-black dark:text-black-200 mt-3 w-full p-3 border-l-4 border-black">
                    Our mission is to revolutionize the minerals and mining equipment industry by providing a
                    user-friendly,
                    reliable, and accessible platform for all stakeholders. We aim to bridge the gap between buyers and
                    sellers, promote fair trade practices, and contribute to the growth and development of the industry.
                </p>
            </div>
        </div>
        <div class="w-full lg:w-6/12 ml-12">
            <div class="grid grid-cols-2 gap-4 sm:grid-cols-3 md:gap-6 xl:gap-8">
                <!-- image - start -->
                <a href="#"
                    class="group relative flex h-48 items-end overflow-hidden rounded-lg bg-gray-100 shadow-lg md:h-80">
                    <img src="assets/img/energy.png" loading="lazy" alt="Photo by Minh Pham"
                        class="absolute inset-0 h-full w-full object-cover object-center transition duration-200 group-hover:scale-110" />

                    <div
                        class="pointer-events-none absolute inset-0 bg-gradient-to-t from-gray-800 via-transparent to-transparent opacity-50">
                    </div>

                    <span class="relative ml-4 mb-3 inline-block text-lg text-white md:ml-5 md:text-lg">Energy
                        Minerals</span>
                </a>
                <!-- image - end -->

                <!-- image - start -->
                <a href="#"
                    class="group relative flex h-48 items-end overflow-hidden rounded-lg bg-gray-100 shadow-lg md:col-span-2 md:h-80">
                    <img src="assets/img/earth_mover.jpg" loading="lazy" alt="Photo by Magicle"
                        class="absolute inset-0 h-full w-full object-cover object-center transition duration-200 group-hover:scale-110" />

                    <div
                        class="pointer-events-none absolute inset-0 bg-gradient-to-t from-gray-800 via-transparent to-transparent opacity-50">
                    </div>

                    <span class="relative ml-4 mb-3 inline-block text-lg text-white md:ml-5 md:text-lg">Earth
                        Mover</span>
                </a>
                <!-- image - end -->

                <!-- image - start -->
                <a href="#"
                    class="group relative flex h-48 items-end overflow-hidden rounded-lg bg-gray-100 shadow-lg md:col-span-2 md:h-80">
                    <img src="assets/img/industrial.png" loading="lazy" alt="Photo by Martin Sanchez"
                        class="absolute inset-0 h-full w-full object-cover object-center transition duration-200 group-hover:scale-110" />

                    <div
                        class="pointer-events-none absolute inset-0 bg-gradient-to-t from-gray-800 via-transparent to-transparent opacity-50">
                    </div>

                    <span class="relative ml-4 mb-3 inline-block text-lg text-white md:ml-5 md:text-lg">Minerals</span>
                </a>
                <!-- image - end -->

                <!-- image - start -->
                <a href="#"
                    class="group relative flex h-48 items-end overflow-hidden rounded-lg bg-gray-100 shadow-lg md:h-80">
                    <img src="assets/img/drill_rig.png" loading="lazy" alt="Photo by Lorenzo Herrera"
                        class="absolute inset-0 h-full w-full object-cover object-center transition duration-200 group-hover:scale-110" />

                    <div
                        class="pointer-events-none absolute inset-0 bg-gradient-to-t from-gray-800 via-transparent to-transparent opacity-50">
                    </div>

                    <span class="relative ml-4 mb-3 inline-block text-lg text-white md:ml-5 md:text-lg">Drill
                        Rig</span>
                </a>
                <!-- image - end -->
            </div>
        </div>
    </div>

    <div class="relative mt-24">
        <div class="grid sm:grid-cols-3 grid-cols-2 sm:gap-8 gap-4">
            <div class="z-20 w-14 h-14 bg-gray-800 rounded-full flex justify-center items-center">
                <img src="https://tuk-cdn.s3.amazonaws.com/can-uploader/about-us-3-svg1.svg" alt="flag" />
            </div>

            <img class="z-20" src="https://tuk-cdn.s3.amazonaws.com/can-uploader/about-us-3-svg2.svg" alt="note" />

            <img class="z-20 sm:block hidden" src="https://tuk-cdn.s3.amazonaws.com/can-uploader/about-us-3-svg3.svg"
                alt="users" />
        </div>
        <hr class="z-10 absolute top-2/4 w-full bg-gray-200" />
    </div>
    <div class="grid sm:grid-cols-3 grid-cols-2 sm:gap-8 gap-4">
        <div>
            <p class="font-semibold text-lg lg:leading-6 leading-5 text-gray-800 dark:text-white mt-6">
                Registration</p>
            <p class="font-normal lg:leading-6 leading-5 text-gray-800 dark:text-white mt-6">
                Ore-zone is registered with
                the Government of South Africa, ensuring compliance with all relevant laws and regulations.
            </p>
        </div>
        <div>
            <p class="font-semibold text-lg lg:leading-6 leading-5 text-gray-800 dark:text-white mt-6">
                Registration Number</p>
            <p class="font-normal lg:leading-6 leading-5 text-gray-800 dark:text-white mt-6">
                2025/001929/07
            </p>
        </div>
        <div class="sm:block hidden">
            <p class="font-semibold text-lg lg:leading-6 leading-5 text-gray-800 dark:text-white mt-6">
                Address</p>
            <p class="font-normal lg:leading-6 leading-5 text-gray-800 dark:text-white mt-6">
                69 Mandela st, 1035,South Africa
            </p>
        </div>
    </div>
    <div class="sm:hidden block relative mt-8">
        <div class="grid sm:grid-cols-3 grid-cols-2 sm:gap-8 gap-4">
            <img src="https://tuk-cdn.s3.amazonaws.com/can-uploader/about-us-3-svg3.svg" alt="user" />
        </div>
        <hr class="z-10 absolute top-2/4 w-full bg-gray-200" />
    </div>
    <div class="sm:hidden grid sm:grid-cols-3 grid-cols-2 sm:gap-8 gap-4">
        <div>
            <p class="font-semibold text-lg lg:leading-6 leading-5 text-gray-800 dark:text-white mt-6">
                Address</p>
            <p class="font-normal text-base leading-6 text-gray-600 dark:text-gray-200 mt-6">69 Mandela st, 1035,South
                Africa</p>
        </div>
    </div>

    <div class="flex lg:flex-row flex-col md:gap-14 gap-16 justify-between lg:mt-24 mt-24">

        <div class="w-full">
            <div class="grid grid-cols-2 sm:grid-cols-2 lg:grid-cols-2 lg:gap-12 gap-10">
                <!-- Team Card -->
                <div class="flex p-4 shadow-md">
                    <div class="mr-6">
                        <img class="mr-6" src="https://tuk-cdn.s3.amazonaws.com/can-uploader/about-us-3-svg4.svg"
                            alt="team card" />
                    </div>
                    <div class="">
                        <p class="font-semibold lg:text-xl lg:leading-6 leading-5 text-gray-800 dark:text-white">
                            Integrity</p>
                        <p class="text-black dark:text-black-200 mt-3 w-full lg:w-12/12 xl:w-12/12 p-3">We
                            operate with
                            transparency, honesty, and ethics in all our interactions.
                        </p>
                    </div>
                </div>

                <!-- Board Card -->
                <div class="flex p-4 shadow-md">
                    <div class="mr-6">
                        <img src="https://tuk-cdn.s3.amazonaws.com/can-uploader/about-us-3-svg2.svg" alt="board card" />
                    </div>
                    <div class="">
                        <p class="font-semibold lg:text-xl lg:leading-6 leading-5 text-gray-800 dark:text-white">
                            Innovation</p>
                        <p class="text-black dark:text-black-200 mt-3 w-full lg:w-12/12 xl:w-12/12 p-3">We
                            continuously
                            strive to improve our platform, services, and user experience.
                        </p>
                    </div>
                </div>

                <!-- Press Card -->
                <div class="flex p-4 shadow-md">
                    <div class="mr-6">
                        <img src="https://tuk-cdn.s3.amazonaws.com/can-uploader/about-us-3-svg5.svg" alt="press card" />
                    </div>
                    <div class="">
                        <p class="font-semibold lg:text-xl lg:leading-6 leading-5 text-gray-800 dark:text-white">
                            Customer-Centricity</p>
                        <p class="text-black dark:text-black-200 mt-3 w-full lg:w-12/12 xl:w-12/12 p-3">We
                            prioritize
                            our users' needs, providing exceptional support and services.
                        </p>
                    </div>
                </div>

                <!-- Responsibility Card -->
                <div class="flex p-4 shadow-md">
                    <div class="mr-6 z-20 w-12 h-12 bg-gray-800 rounded-full flex justify-center items-center">
                        <img src="https://tuk-cdn.s3.amazonaws.com/can-uploader/about-us-3-svg1.svg" alt="flag" />
                    </div>
                    <div class="">
                        <p class="font-semibold lg:text-xl lg:leading-6 leading-5 text-gray-800 dark:text-white">
                            Responsibility</p>
                        <p class="text-black dark:text-black-200 mt-3 w-full lg:w-12/12 xl:w-12/12 p-3">We
                            recognize
                            our impact on the environment and communities, promoting sustainable and responsible
                            practices.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<app-footer></app-footer>