<footer>
    <div class="2xl:section 2xl:mx-auto lg:py-1 lg:px-18 md:py-1 md:px-10 py-1 px-18 bg-gray-800">
        <div class="bg-gray-800 py-2 text-gray-400">
            <div class="px-2 mx-auto">
                <div class="-mx-4 flex flex-wrap justify-between">
                    <div class="px-4 mt-8 w-full sm:w-auto">
                        <div>
                            <h2
                                class="inline-block text-xl font-semibold text-white pb-2 mb-4 border-b-4 border-green-700">
                                Company</h2>
                        </div>
                        <ul class="leading-8">
                            <li class="mb-5 text-lg"><a href="/#/about-us" class="hover:text-blue-400">About Us</a></li>
                            <li class="mb-5 text-lg"><a href="/#/terms-and-conditions"
                                    class="hover:text-blue-400">General
                                    Terms
                                    &amp;
                                    Conditions</a></li>
                            <li class="mb-5 text-lg"><a href="/#/seller-terms-and-conditions"
                                    class="hover:text-blue-400">Seller`s
                                    Terms &amp;
                                    Conditions</a></li>
                            <li class="mb-5 text-lg"><a href="/#/contact-us" class="hover:text-blue-400">Contact Us</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div
        class="bg-green-700 2xl:section 2xl:mx-auto lg:py-1 lg:px-18 md:py-1 md:px-10 py-1 px-18 text-gray-100 overflow-hidden">
        <div class="mx-auto px-2">
            <div class="-mx-4 flex flex-wrap justify-between">
                <div class="px-4 w-full text-center sm:w-auto sm:text-left">
                    Copyright © 2024
                    Ore-zone. All Rights Reserved.
                </div>
                <div class="px-4 w-full text-center sm:w-auto sm:text-left">
                    <p class="inline-flex items-center justify-center flex md:justify-start">
                        <span class="me-3 [&>svg]:h-5 [&>svg]:w-5">
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor">
                                <path
                                    d="M1.5 8.67v8.58a3 3 0 003 3h15a3 3 0 003-3V8.67l-8.928 5.493a3 3 0 01-3.144 0L1.5 8.67z" />
                                <path
                                    d="M22.5 6.908V6.75a3 3 0 00-3-3h-15a3 3 0 00-3 3v.158l9.714 5.978a1.5 1.5 0 001.572 0L22.5 6.908z" />
                            </svg>
                        </span>
                        info&#64;ore-zone.co.zw
                    </p>
                </div>
            </div>
        </div>
    </div>

</footer>