<app-dashboard-nav-bar></app-dashboard-nav-bar>

<section class="bg-white dark:bg-gray-900 antialiased mt-24 mb-8 overflow-hidden">
    <div class="max-w-screen-xl px-4 mx-auto 2xl:px-0">
        <div class="lg:grid lg:grid-cols-2 lg:gap-8 xl:gap-16">

            <div id="default-carousel" class="relative w-full" data-carousel="slide">
                <!-- Carousel wrapper -->
                <div class="relative h-56 overflow-hidden rounded-lg md:h-96">
                    <!-- Item 1 -->
                    <div class="hidden duration-700 ease-in-out" data-carousel-item>
                        <img [src]="product.image_url"
                            class="absolute block w-full -translate-x-1/2 -translate-y-1/2 top-1/2 left-1/2" alt="...">
                    </div>
                    <!-- Item 2 -->
                    <div class="hidden duration-700 ease-in-out" data-carousel-item>
                        <img [src]="product.image_url2"
                            class="absolute block w-full -translate-x-1/2 -translate-y-1/2 top-1/2 left-1/2" alt="...">
                    </div>
                    <!-- Item 3 -->
                    <div class="hidden duration-700 ease-in-out" data-carousel-item>
                        <img [src]="product.image_url3"
                            class="absolute block w-full -translate-x-1/2 -translate-y-1/2 top-1/2 left-1/2" alt="...">
                    </div>
                </div>
                <!-- Slider indicators -->
                <div class="absolute z-30 flex -translate-x-1/2 bottom-5 left-1/2 space-x-3 rtl:space-x-reverse">
                    <button type="button" class="w-3 h-3 rounded-full" aria-current="true" aria-label="Slide 1"
                        data-carousel-slide-to="0"></button>
                    <button type="button" class="w-3 h-3 rounded-full" aria-current="false" aria-label="Slide 2"
                        data-carousel-slide-to="1"></button>
                    <button type="button" class="w-3 h-3 rounded-full" aria-current="false" aria-label="Slide 3"
                        data-carousel-slide-to="2"></button>
                </div>
                <!-- Slider controls -->
                <button type="button"
                    class="absolute top-0 start-0 z-30 flex items-center justify-center h-full px-4 cursor-pointer group focus:outline-none"
                    data-carousel-prev>
                    <span
                        class="inline-flex items-center justify-center w-10 h-10 rounded-full bg-white/30 dark:bg-gray-800/30 group-hover:bg-white/50 dark:group-hover:bg-gray-800/60 group-focus:ring-4 group-focus:ring-white dark:group-focus:ring-gray-800/70 group-focus:outline-none">
                        <svg class="w-4 h-4 text-white dark:text-gray-800 rtl:rotate-180" aria-hidden="true"
                            xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 6 10">
                            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                d="M5 1 1 5l4 4" />
                        </svg>
                        <span class="sr-only">Previous</span>
                    </span>
                </button>
                <button type="button"
                    class="absolute top-0 end-0 z-30 flex items-center justify-center h-full px-4 cursor-pointer group focus:outline-none"
                    data-carousel-next>
                    <span
                        class="inline-flex items-center justify-center w-10 h-10 rounded-full bg-white/30 dark:bg-gray-800/30 group-hover:bg-white/50 dark:group-hover:bg-gray-800/60 group-focus:ring-4 group-focus:ring-white dark:group-focus:ring-gray-800/70 group-focus:outline-none">
                        <svg class="w-4 h-4 text-white dark:text-gray-800 rtl:rotate-180" aria-hidden="true"
                            xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 6 10">
                            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                d="m1 9 4-4-4-4" />
                        </svg>
                        <span class="sr-only">Next</span>
                    </span>
                </button>
            </div>

            <div class="mt-6 sm:mt-8 lg:mt-0">
                <span
                    class="mb-2 inline-block rounded bg-green-200 px-2.5 py-0.5 font-medium text-blue-800 dark:bg-green-900 dark:text-blue-300 uppercase">
                    {{product.sub_category_name}} </span>
                <h1 class="text-xl font-semibold text-gray-900 sm:text-2xl dark:text-white">
                    {{product.name}}
                </h1>
                <div class="mt-2 sm:items-center sm:gap-4 sm:flex">
                    <p class="text-2xl font-extrabold text-gray-900 sm:text-3xl dark:text-white">
                        {{product.price | currency}}
                    </p>
                </div>
                <p class="mt-2 text-gray-500 dark:text-gray-400">
                    <b>SELLER:</b> {{product.seller_name}}
                </p>

                <p class="mt-2 text-gray-500 dark:text-gray-400">
                    <b>DESCRIPTION: </b> {{product.description}}
                </p>
                <div class="mt-2 flex items-center gap-2 mt-4 mb-4">
                    <div class="flex items-center gap-0.5">
                        <igc-rating [value]="avgRating" class="text-yellow-300" (igcChange)="ratingChanged($event);"
                            disabled></igc-rating>
                    </div>
                    <p class="text-sm font-medium leading-none text-gray-500 dark:text-gray-400">
                        ({{unRoundedAvgRating | number:'1.2-2'}})</p>
                    <a href="#"
                        class="text-sm font-medium leading-none text-gray-900 underline hover:no-underline dark:text-white">
                        {{noOfRatings}} Reviews </a>
                </div>

                <div class="mt-6 min-w-0 flex-1 space-y-3 sm:mt-0">
                    <div class="flex items-center gap-2">
                        <p class="w-2 shrink-0 text-start font-medium leading-none text-gray-900 dark:text-white">
                            5</p>
                        <svg class="h-4 w-4 shrink-0 text-yellow-300" aria-hidden="true"
                            xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor"
                            viewBox="0 0 24 24">
                            <path
                                d="M13.849 4.22c-.684-1.626-3.014-1.626-3.698 0L8.397 8.387l-4.552.361c-1.775.14-2.495 2.331-1.142 3.477l3.468 2.937-1.06 4.392c-.413 1.713 1.472 3.067 2.992 2.149L12 19.35l3.897 2.354c1.52.918 3.405-.436 2.992-2.15l-1.06-4.39 3.468-2.938c1.353-1.146.633-3.336-1.142-3.477l-4.552-.36-1.754-4.17Z" />
                        </svg>
                        <div class="h-1.5 w-80 rounded-full bg-gray-200 dark:bg-gray-700">
                            <div class="h-1.5 rounded-full bg-yellow-300" [style.width.%]="fiveStar"></div>
                        </div>
                        <a href="#"
                            class="w-8 shrink-0 text-right font-medium leading-none text-blue-700 hover:underline dark:text-blue-500 sm:w-auto sm:text-left">{{five}}
                            <span class="hidden sm:inline">reviews</span></a>
                    </div>

                    <div class="flex items-center gap-2">
                        <p class="w-2 shrink-0 text-start font-medium leading-none text-gray-900 dark:text-white">
                            4</p>
                        <svg class="h-4 w-4 shrink-0 text-yellow-300" aria-hidden="true"
                            xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor"
                            viewBox="0 0 24 24">
                            <path
                                d="M13.849 4.22c-.684-1.626-3.014-1.626-3.698 0L8.397 8.387l-4.552.361c-1.775.14-2.495 2.331-1.142 3.477l3.468 2.937-1.06 4.392c-.413 1.713 1.472 3.067 2.992 2.149L12 19.35l3.897 2.354c1.52.918 3.405-.436 2.992-2.15l-1.06-4.39 3.468-2.938c1.353-1.146.633-3.336-1.142-3.477l-4.552-.36-1.754-4.17Z" />
                        </svg>
                        <div class="h-1.5 w-80 rounded-full bg-gray-200 dark:bg-gray-700">
                            <div class="h-1.5 rounded-full bg-yellow-300" [style.width.%]="fourStar"></div>
                        </div>
                        <a href="#"
                            class="w-8 shrink-0 text-right font-medium leading-none text-blue-700 hover:underline dark:text-blue-500 sm:w-auto sm:text-left">{{four}}
                            <span class="hidden sm:inline">reviews</span></a>
                    </div>

                    <div class="flex items-center gap-2">
                        <p class="w-2 shrink-0 text-start font-medium leading-none text-gray-900 dark:text-white">
                            3</p>
                        <svg class="h-4 w-4 shrink-0 text-yellow-300" aria-hidden="true"
                            xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor"
                            viewBox="0 0 24 24">
                            <path
                                d="M13.849 4.22c-.684-1.626-3.014-1.626-3.698 0L8.397 8.387l-4.552.361c-1.775.14-2.495 2.331-1.142 3.477l3.468 2.937-1.06 4.392c-.413 1.713 1.472 3.067 2.992 2.149L12 19.35l3.897 2.354c1.52.918 3.405-.436 2.992-2.15l-1.06-4.39 3.468-2.938c1.353-1.146.633-3.336-1.142-3.477l-4.552-.36-1.754-4.17Z" />
                        </svg>
                        <div class="h-1.5 w-80 rounded-full bg-gray-200 dark:bg-gray-700">
                            <div class="h-1.5 rounded-full bg-yellow-300" [style.width.%]="threeStar"></div>
                        </div>
                        <a href="#"
                            class="w-8 shrink-0 text-right font-medium leading-none text-blue-700 hover:underline dark:text-blue-500 sm:w-auto sm:text-left">{{three}}
                            <span class="hidden sm:inline">reviews</span></a>
                    </div>

                    <div class="flex items-center gap-2">
                        <p class="w-2 shrink-0 text-start font-medium leading-none text-gray-900 dark:text-white">
                            2</p>
                        <svg class="h-4 w-4 shrink-0 text-yellow-300" aria-hidden="true"
                            xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor"
                            viewBox="0 0 24 24">
                            <path
                                d="M13.849 4.22c-.684-1.626-3.014-1.626-3.698 0L8.397 8.387l-4.552.361c-1.775.14-2.495 2.331-1.142 3.477l3.468 2.937-1.06 4.392c-.413 1.713 1.472 3.067 2.992 2.149L12 19.35l3.897 2.354c1.52.918 3.405-.436 2.992-2.15l-1.06-4.39 3.468-2.938c1.353-1.146.633-3.336-1.142-3.477l-4.552-.36-1.754-4.17Z" />
                        </svg>
                        <div class="h-1.5 w-80 rounded-full bg-gray-200 dark:bg-gray-700">
                            <div class="h-1.5 rounded-full bg-yellow-300" [style.width.%]="twoStar"></div>
                        </div>
                        <a href="#"
                            class="w-8 shrink-0 text-right font-medium leading-none text-blue-700 hover:underline dark:text-blue-500 sm:w-auto sm:text-left">{{two}}
                            <span class="hidden sm:inline">reviews</span></a>
                    </div>

                    <div class="flex items-center gap-2">
                        <p class="w-2 shrink-0 text-start font-medium leading-none text-gray-900 dark:text-white">
                            1</p>
                        <svg class="h-4 w-4 shrink-0 text-yellow-300" aria-hidden="true"
                            xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor"
                            viewBox="0 0 24 24">
                            <path
                                d="M13.849 4.22c-.684-1.626-3.014-1.626-3.698 0L8.397 8.387l-4.552.361c-1.775.14-2.495 2.331-1.142 3.477l3.468 2.937-1.06 4.392c-.413 1.713 1.472 3.067 2.992 2.149L12 19.35l3.897 2.354c1.52.918 3.405-.436 2.992-2.15l-1.06-4.39 3.468-2.938c1.353-1.146.633-3.336-1.142-3.477l-4.552-.36-1.754-4.17Z" />
                        </svg>
                        <div class="h-1.5 w-80 rounded-full bg-gray-200 dark:bg-gray-700">
                            <div class="h-1.5 rounded-full bg-yellow-300" [style.width.%]="oneStar"></div>
                        </div>
                        <a href="#"
                            class="w-8 shrink-0 text-right font-medium leading-none text-blue-700 hover:underline dark:text-blue-500 sm:w-auto sm:text-left">{{one}}
                            <span class="hidden sm:inline">reviews</span></a>
                    </div>
                </div>
            </div>
        </div>

        <div class="bg-white border border-4 rounded-lg shadow relative mt-16">
            <div class="p-6 space-y-6 mt-8">
                <form [formGroup]="enquireForm" (submit)="enquire()">
                    <div class="grid grid-cols-12 gap-6 mb-4">
                        <div class="col-span-12 sm:col-span-6">
                            <div class="col-span-6 sm:col-span-2 mb-8">
                                <label for="product-name"
                                    class="text-lg font-medium text-gray-900 block mb-2">Category</label>
                                <input type="text" name="name" [value]="product.sub_category_name"
                                    class="form-control text-green-700 font-bold shadow-sm bg-gray-50 border border-gray-300 text-gray-900  rounded-lg focus:ring-cyan-600 focus:border-cyan-600 block w-full p-2.5"
                                    placeholder="enter your full name" id="disabled-input" aria-label="disabled input"
                                    disabled>
                            </div>
                            <div class="col-span-6 sm:col-span-2 mb-8">
                                <label for="product-name" class="text-lg font-medium text-gray-900 block mb-2">Product
                                    Name</label>
                                <input type="text" name="name" [value]="product.name"
                                    class="form-control shadow-sm text-green-700 font-bold bg-gray-50 border border-gray-300 text-gray-900  rounded-lg focus:ring-cyan-600 focus:border-cyan-600 block w-full p-2.5"
                                    placeholder="enter your full name" id="disabled-input" aria-label="disabled input"
                                    disabled>
                            </div>
                            <div class="col-span-6 sm:col-span-2  mb-4">
                                <label for="category" class="text-lg font-medium text-gray-900 block mb-2">Quantity <i
                                        style="color: grey;">(*if applicable)</i></label>
                                <input type="number" name="quantity" id="quantity" formControlName="quantity"
                                    class="form-control shadow-sm bg-gray-50 border border-gray-300 text-gray-900  rounded-lg focus:ring-cyan-600 focus:border-cyan-600 block w-full p-2.5"
                                    placeholder="enter quantity you require" required="">
                            </div>
                        </div>
                        <div class="col-span-12 sm:col-span-6">
                            <div class="col-span-6 sm:col-span-2 mb-8">
                                <label for="product-name" class="text-lg font-medium text-gray-900 block mb-2">Preferred
                                    Location <i style="color: grey;">(*if applicable)</i></label>
                                <input type="text" name="location" id="location"
                                    class="form-control shadow-sm bg-gray-50 border border-gray-300 text-gray-900  rounded-lg focus:ring-cyan-600 focus:border-cyan-600 block w-full p-2.5"
                                    formControlName="location" maxlength="12" placeholder="enter preferred location"
                                    required="">
                            </div>
                            <div class="col-span-6 sm:col-span-2 mb-8">
                                <label for="product-name" class="text-lg font-medium text-gray-900 block mb-2">
                                    Preferred Date <i style="color: grey;">(*if applicable)</i>
                                </label>

                                <div class="flex gap-4">
                                    <!-- Date Input -->
                                    <input type="date" name="date" id="date"
                                        class="w-1/2 form-control shadow-sm bg-gray-50 border border-gray-300 text-gray-900 rounded-lg focus:ring-cyan-600 focus:border-cyan-600 p-2.5"
                                        formControlName="date" required>

                                    <!-- Time Input -->
                                    <input type="time" name="time" id="time"
                                        class="w-1/2 form-control shadow-sm bg-gray-50 border border-gray-300 text-gray-900 rounded-lg focus:ring-cyan-600 focus:border-cyan-600 p-2.5"
                                        formControlName="time" required>
                                </div>
                            </div>

                            <div class="col-span-6 sm:col-span-2 mb-4">
                                <label for="product-name" class="text-lg font-medium text-gray-900 block mb-2">Preferred
                                    Payment Method <i style="color: grey;">(*if applicable)</i></label>
                                <input type="text" name="payment" id="payment"
                                    class="form-control shadow-sm bg-gray-50 border border-gray-300 text-gray-900  rounded-lg focus:ring-cyan-600 focus:border-cyan-600 block w-full p-2.5"
                                    formControlName="payment" maxlength="12"
                                    placeholder="enter preferred payment method" required="">
                            </div>
                        </div>
                        <div class="col-span-12 sm:col-span-12 mb-8">
                            <label for="product-name"
                                class="text-lg font-medium text-gray-900 block mb-2">Message</label>
                            <textarea rows="8" type="text" name="message" id="message"
                                class="form-control shadow-sm bg-gray-50 border border-gray-300 text-gray-900  rounded-lg focus:ring-cyan-600 focus:border-cyan-600 block w-full p-2.5"
                                formControlName="message" placeholder="enter your message" required=""></textarea>
                        </div>
                    </div>
                    <div class="flex justify-between w-full px-3 border-t border-gray-200">
                        <div class="md:flex md:items-center">
                            <label class="block text-gray-500 font-bold">
                                <input class="mr-2 leading-tight" type="checkbox">
                                <span class="text-green-700">
                                    Send me your newsletter!
                                </span>
                            </label>
                        </div>
                        <button
                            class="mt-4 shadow bg-green-500 hover:bg-green-400 focus:shadow-outline focus:outline-none text-white font-bold py-2 px-6 rounded"
                            type="submit">
                            Send Message
                        </button>

                    </div>
                </form>
            </div>
        </div>

        <section class="bg-white py-8 antialiased dark:bg-gray-900 md:py-16">
            <div class="mx-auto max-w-screen-xl px-4 2xl:px-0">
                <div class="flex items-center gap-2">
                    <h2 class="text-2xl font-semibold text-gray-900 dark:text-white">Reviews</h2>

                    <div class="mt-2 flex items-center gap-2 sm:mt-0">
                        <div class="flex items-center gap-0.5">
                            <igc-rating [value]="avgRating" class="text-yellow-300" (igcChange)="ratingChanged($event);"
                                disabled></igc-rating>
                        </div>
                        <p class="text-sm font-medium leading-none text-gray-500 dark:text-gray-400">
                            ({{unRoundedAvgRating | number:'1.2-2'}})</p>
                        <a href="#"
                            class="text-sm font-medium leading-none text-gray-900 underline hover:no-underline dark:text-white">
                            {{noOfRatings}} Reviews </a>
                    </div>
                </div>

                <div class="my-6 gap-8 sm:flex sm:items-start md:my-8">
                    <div class="shrink-0 space-y-4">
                        <button type="button" data-modal-target="review-modal" data-modal-toggle="review-modal"
                            class="mb-2 me-2 rounded-lg bg-blue-700 px-5 py-2.5 font-medium text-white hover:bg-blue-800 focus:outline-none focus:ring-4 focus:ring-blue-300 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">Write
                            a review</button>
                    </div>
                </div>

                <div class="mt-6 divide-y divide-gray-200 dark:divide-gray-700">
                    @for (item of product.ratings; track $index) {
                    <div class="gap-3 py-6 sm:flex sm:items-start">
                        <div class="shrink-0 space-y-2 sm:w-48 md:w-72">
                            <div class="flex items-center gap-0.5">
                                <igc-rating [value]="item.rating" class="text-yellow-300"
                                    (igcChange)="ratingChanged($event);" disabled></igc-rating>
                            </div>

                            <div class="space-y-0.5">
                                <p class="text-base font-semibold text-gray-900 dark:text-white">{{item.user_name}}</p>
                                <p class="text-sm font-normal text-gray-500 dark:text-gray-400">{{ item.created_at |
                                    date: 'MMMM d, yyyy' }} at {{item.created_at |
                                    date: 'HH:mm'}}</p>
                            </div>

                            <div class="inline-flex items-center gap-1">
                                <svg class="h-5 w-5 text-blue-700 dark:text-blue-500" aria-hidden="true"
                                    xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor"
                                    viewBox="0 0 24 24">
                                    <path fill-rule="evenodd"
                                        d="M12 2c-.791 0-1.55.314-2.11.874l-.893.893a.985.985 0 0 1-.696.288H7.04A2.984 2.984 0 0 0 4.055 7.04v1.262a.986.986 0 0 1-.288.696l-.893.893a2.984 2.984 0 0 0 0 4.22l.893.893a.985.985 0 0 1 .288.696v1.262a2.984 2.984 0 0 0 2.984 2.984h1.262c.261 0 .512.104.696.288l.893.893a2.984 2.984 0 0 0 4.22 0l.893-.893a.985.985 0 0 1 .696-.288h1.262a2.984 2.984 0 0 0 2.984-2.984V15.7c0-.261.104-.512.288-.696l.893-.893a2.984 2.984 0 0 0 0-4.22l-.893-.893a.985.985 0 0 1-.288-.696V7.04a2.984 2.984 0 0 0-2.984-2.984h-1.262a.985.985 0 0 1-.696-.288l-.893-.893A2.984 2.984 0 0 0 12 2Zm3.683 7.73a1 1 0 1 0-1.414-1.413l-4.253 4.253-1.277-1.277a1 1 0 0 0-1.415 1.414l1.985 1.984a1 1 0 0 0 1.414 0l4.96-4.96Z"
                                        clip-rule="evenodd" />
                                </svg>
                                <p class="text-sm font-medium text-gray-900 dark:text-white">Verified purchase</p>
                            </div>
                        </div>

                        <div class="mt-4 min-w-0 flex-1 space-y-4 sm:mt-0">
                            <p class="text-base font-normal text-gray-500 dark:text-gray-400">{{item.comment}}</p>

                            <div class="flex gap-2">
                                <img *ngIf="item.image_url1" class="h-32 w-20 rounded-lg object-cover"
                                    [src]="item.image_url1" alt="" />
                                <img *ngIf="item.image_url2" class="h-32 w-20 rounded-lg object-cover"
                                    [src]="item.image_url2" alt="" />
                            </div>

                            <div class="flex items-center gap-4">
                                <p class="text-sm font-medium text-green-500 dark:text-gray-400">Was it helpful to you?
                                </p>
                                <div class="flex items-center">
                                    <input id="reviews-radio-3" type="radio" value="" name="reviews-radio-2"
                                        class="h-4 w-4 border-gray-300 bg-gray-100 text-blue-600 focus:ring-2 focus:ring-blue-500 dark:border-gray-600 dark:bg-gray-700 dark:ring-offset-gray-800 dark:focus:ring-blue-600" />
                                    <label for="reviews-radio-3"
                                        class="ms-2 font-medium text-gray-900 dark:text-gray-300"> Yes: 1
                                    </label>
                                </div>
                                <div class="flex items-center">
                                    <input id="reviews-radio-4" type="radio" value="" name="reviews-radio-2"
                                        class="h-4 w-4 border-gray-300 bg-gray-100 text-blue-600 focus:ring-2 focus:ring-blue-500 dark:border-gray-600 dark:bg-gray-700 dark:ring-offset-gray-800 dark:focus:ring-blue-600" />
                                    <label for="reviews-radio-4"
                                        class="ms-2 font-medium text-gray-900 dark:text-gray-300">No: 0 </label>
                                </div>
                            </div>
                        </div>
                    </div>
                    }
                </div>

                <div class="mt-6 text-center">
                    <button type="button"
                        class="mb-2 me-2 rounded-lg border border-gray-200 bg-white px-5 py-2.5 font-medium text-gray-900 hover:bg-gray-100 hover:text-blue-700 focus:z-10 focus:outline-none focus:ring-4 focus:ring-gray-100 dark:border-gray-600 dark:bg-gray-800 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white dark:focus:ring-gray-700">View
                        more reviews</button>
                </div>
            </div>
        </section>

        <!-- Add review modal -->
        <div id="review-modal" tabindex="-1" aria-hidden="true"
            class="fixed left-0 right-0 top-0 z-50 hidden h-[calc(100%-1rem)] max-h-full w-full items-center justify-center overflow-y-auto overflow-x-hidden md:inset-0 antialiased">
            <div class="relative max-h-full w-full max-w-2xl p-4">
                <!-- Modal content -->
                <div class="relative rounded-lg bg-white shadow dark:bg-gray-800">
                    <!-- Modal header -->
                    <div
                        class="flex items-center justify-between rounded-t border-b border-gray-200 p-4 dark:border-gray-700 md:p-5">
                        <div>
                            <h3 class="mb-1 text-lg font-semibold text-gray-900 dark:text-white">Add a review for:</h3>
                            <a href="#"
                                class="font-medium text-blue-700 hover:underline dark:text-blue-500">{{product.name}}</a>
                        </div>
                        <button type="button"
                            class="absolute right-5 top-5 ms-auto inline-flex h-8 w-8 items-center justify-center rounded-lg bg-transparent text-gray-400 hover:bg-gray-200 hover:text-gray-900 dark:hover:bg-gray-600 dark:hover:text-white"
                            data-modal-toggle="review-modal">
                            <svg class="h-3 w-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none"
                                viewBox="0 0 14 14">
                                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"
                                    stroke-width="2" d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6" />
                            </svg>
                            <span class="sr-only">Close modal</span>
                        </button>
                    </div>
                    <!-- Modal body -->
                    <form [formGroup]="ratingForm" (submit)="submitRating()" class="p-4 md:p-5">
                        <div class="mb-4 grid grid-cols-2 gap-4">
                            <div class="col-span-2">
                                <div class="flex items-center">
                                    <igc-rating value="ratingVal" min="1" max="5" class="text-yellow-300"
                                        (igcChange)="ratingChanged($event);"></igc-rating>
                                    <span class="ms-2 text-lg font-bold text-gray-900 dark:text-white">{{ratingValue}}
                                        out of
                                        5</span>
                                </div>
                            </div>
                            <div class="col-span-2">
                                <label for="title" class="mb-2 block font-medium text-gray-900 dark:text-white">Review
                                    title</label>
                                <input type="text" name="title" id="title"
                                    class="block w-full rounded-lg border border-gray-300 bg-gray-50 p-2.5 text-gray-900 focus:border-blue-600 focus:ring-blue-600 dark:border-gray-600 dark:bg-gray-700 dark:text-white dark:placeholder:text-gray-400 dark:focus:border-blue-500 dark:focus:ring-blue-500"
                                    required="" />
                            </div>
                            <div class="col-span-2">
                                <label for="description"
                                    class="mb-2 block font-medium text-gray-900 dark:text-white">Review
                                    description</label>
                                <textarea id="description" rows="6" formControlName="comment"
                                    class="form-control mb-2 block w-full rounded-lg border border-gray-300 bg-gray-50 p-2.5 text-gray-900 focus:border-blue-500 focus:ring-blue-500 dark:border-gray-600 dark:bg-gray-700 dark:text-white dark:placeholder:text-gray-400 dark:focus:border-blue-500 dark:focus:ring-blue-500"
                                    required=""></textarea>
                                <p class="ms-auto text-xs text-gray-500 dark:text-gray-400">Problems with the product or
                                    delivery? <a href="#" class="text-blue-600 hover:underline dark:text-blue-500">Send
                                        a
                                        report</a>.</p>
                            </div>
                            <div class="col-span-2">
                                <p class="mb-2 block font-medium text-gray-900 dark:text-white">Add real photos
                                    of the product to help other customers <span
                                        class="text-gray-500 dark:text-gray-400">(Optional)</span></p>
                            </div>
                            <div class="col-span-1">
                                <div class="flex justify-center items-center w-full overflow-hidden">
                                    <label for="dropzone-file"
                                        class="flex flex-col items-center justify-center w-full h-52 border-2 border-green-300 border-dashed rounded-lg cursor-pointer bg-green-50 dark:hover:bg-green-800 dark:bg-green-700 hover:bg-green-100 dark:border-green-600 dark:hover:border-green-500 dark:hover:bg-green-600">

                                        <div class="flex flex-col items-center justify-center pt-5 pb-6">
                                            <div class="image-uploads text-center mt-4">
                                                <img *ngIf="selectedFile" [src]="getImagePreview()" alt="Uploaded Image"
                                                    class="mx-auto d-block" style="max-height: 150px; max-width: 100%;">
                                            </div>
                                            <svg class="mb-4 h-8 w-8 text-gray-500 dark:text-gray-400"
                                                aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none"
                                                viewBox="0 0 20 16">
                                                <path stroke="currentColor" stroke-linecap="round"
                                                    stroke-linejoin="round" stroke-width="2"
                                                    d="M13 13h3a3 3 0 0 0 0-6h-.025A5.56 5.56 0 0 0 16 6.5 5.5 5.5 0 0 0 5.207 5.021C5.137 5.017 5.071 5 5 5a4 4 0 0 0 0 8h2.167M10 15V6m0 0L8 8m2-2 2 2" />
                                            </svg>
                                            <p class="mb-2 text-gray-500 dark:text-gray-400"><span
                                                    class="font-semibold">Click to upload</span> or drag and drop</p>
                                            <p class="text-xs text-gray-500 dark:text-gray-400">SVG, PNG, JPG or GIF
                                                (MAX. 800x400px)</p>
                                        </div>
                                        <input id="dropzone-file" type="file" class="hidden"
                                            (change)="onFileSelected($event)" />
                                    </label>
                                </div>
                            </div>
                            <div class="col-span-1">
                                <div class="flex justify-center items-center w-full overflow-hidden">
                                    <label
                                        class="flex flex-col items-center justify-center w-full h-52 border-2 border-green-300 border-dashed rounded-lg cursor-pointer bg-green-50 dark:hover:bg-green-800 dark:bg-green-700 hover:bg-green-100 dark:border-green-600 dark:hover:border-green-500 dark:hover:bg-green-600">

                                        <div class="flex flex-col items-center justify-center pt-5 pb-6">
                                            <div class="image-uploads text-center mt-4">
                                                <img *ngIf="selectedFile2" [src]="getImagePreview2()"
                                                    alt="Uploaded Image" class="mx-auto d-block"
                                                    style="max-height: 150px; max-width: 100%;">
                                            </div>
                                            <svg class="mb-4 h-8 w-8 text-gray-500 dark:text-gray-400"
                                                aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none"
                                                viewBox="0 0 20 16">
                                                <path stroke="currentColor" stroke-linecap="round"
                                                    stroke-linejoin="round" stroke-width="2"
                                                    d="M13 13h3a3 3 0 0 0 0-6h-.025A5.56 5.56 0 0 0 16 6.5 5.5 5.5 0 0 0 5.207 5.021C5.137 5.017 5.071 5 5 5a4 4 0 0 0 0 8h2.167M10 15V6m0 0L8 8m2-2 2 2" />
                                            </svg>
                                            <p class="mb-2 text-gray-500 dark:text-gray-400"><span
                                                    class="font-semibold">Click to upload</span> or drag and drop</p>
                                            <p class="text-xs text-gray-500 dark:text-gray-400">SVG, PNG, JPG or GIF
                                                (MAX. 800x400px)</p>
                                        </div>
                                        <input id="dropzone-file" type="file" class="hidden"
                                            (change)="onFileSelected2($event)" />
                                    </label>
                                </div>
                            </div>
                            <div class="col-span-2">
                                <div class="flex items-center">
                                    <input id="review-checkbox" type="checkbox" value=""
                                        class="h-4 w-4 rounded border-gray-300 bg-gray-100 text-blue-600 focus:ring-2 focus:ring-blue-500 dark:border-gray-600 dark:bg-gray-700 dark:ring-offset-gray-800 dark:focus:ring-blue-600" />
                                    <label for="review-checkbox"
                                        class="ms-2 font-medium text-gray-500 dark:text-gray-400">By publishing
                                        this review you agree with the <a href="#"
                                            class="text-blue-600 hover:underline dark:text-blue-500">terms and
                                            conditions</a>.</label>
                                </div>
                            </div>
                        </div>
                        <div class="border-t border-gray-200 pt-4 dark:border-gray-700 md:pt-5">
                            <button type="submit" data-modal-toggle="review-modal"
                                class="me-2 inline-flex items-center rounded-lg bg-blue-700 px-5 py-2.5 text-center font-medium text-white hover:bg-blue-800 focus:outline-none focus:ring-4 focus:ring-blue-300 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">Add
                                review</button>
                            <button type="button" data-modal-toggle="review-modal"
                                class="me-2 rounded-lg border border-gray-200 bg-white px-5 py-2.5 font-medium text-gray-900 hover:bg-gray-100 hover:text-blue-700 focus:z-10 focus:outline-none focus:ring-4 focus:ring-gray-100 dark:border-gray-600 dark:bg-gray-800 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white dark:focus:ring-gray-700">Cancel</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
<app-footer></app-footer>
<script src="https://cdn.jsdelivr.net/npm/flowbite@3.1.2/dist/flowbite.min.js"></script>