<!-- SECTION -->
<div
    class="2xl:section 2xl:mx-auto lg:py-10 lg:px-18 md:py-10 md:px-10 py-7 px-2 bg-gradient-to-t from-green-100 via-transparent to-white">


    <div class="mb-4" data-aos="fade-right">
        <h2 class="inline-block text-2xl font-semibold text-black pb-2 border-b-4 border-green-700">
            Local services</h2>
    </div>

    <!-- row -->
    <div class="row">

        <div class="flex justify-center" data-aos="fade-left">
            <nav
                class="flex overflow-x-auto items-center p-3 space-x-1 rtl:space-x-reverse text-lg font-bold text-gray-600 bg-gray-500/5 rounded-xl dark:bg-gray-500/20">
                <button role="tab" type="button" (click)="showFoodnBeverage()"
                    class="flex whitespace-nowrap items-center h-8 px-5 font-medium rounded-lg outline-none focus:ring-2 focus:ring-yellow-600 focus:ring-inset text-yellow-600 shadow bg-white dark:text-white dark:bg-yellow-600"
                    aria-selected="true">
                    Food & Beverages
                </button>

                <button role="tab" type="button" (click)="showRetail()"
                    class="flex whitespace-nowrap items-center h-8 px-5 font-medium rounded-lg outline-none focus:ring-2 focus:ring-yellow-600 focus:ring-inset hover:text-gray-800 hover:bg-white focus:text-yellow-600 dark:text-gray-400 dark:hover:text-gray-300 dark:focus:text-gray-400">
                    Retail
                </button>

                <button role="tab" type="button" (click)="showServices()"
                    class="flex whitespace-nowrap items-center h-8 px-5 font-medium rounded-lg outline-none focus:ring-2 focus:ring-yellow-600 focus:ring-inset hover:text-gray-800 hover:bg-white focus:text-yellow-600 dark:text-gray-400 dark:hover:text-gray-300 dark:focus:text-gray-400">
                    Services
                </button>

                <button role="tab" type="button" (click)="showProfessionalServices()"
                    class="flex whitespace-nowrap items-center h-8 px-5 font-medium rounded-lg outline-none focus:ring-2 focus:ring-yellow-600 focus:ring-inset hover:text-gray-800 hover:bg-white focus:text-yellow-600 dark:text-gray-400 dark:hover:text-gray-300 dark:focus:text-gray-400">
                    Professional Services
                </button>

                <button role="tab" type="button" (click)="showCreativeServices()"
                    class="flex whitespace-nowrap items-center h-8 px-5 font-medium rounded-lg outline-none focus:ring-2 focus:ring-yellow-600 focus:ring-inset hover:text-gray-800 hover:bg-white focus:text-yellow-600 dark:text-gray-400 dark:hover:text-gray-300 dark:focus:text-gray-400">
                    Creative Services
                </button>

                <button role="tab" type="button" (click)="showEducation()"
                    class="flex whitespace-nowrap items-center h-8 px-5 font-medium rounded-lg outline-none focus:ring-2 focus:ring-yellow-600 focus:ring-inset hover:text-gray-800 hover:bg-white focus:text-yellow-600 dark:text-gray-400 dark:hover:text-gray-300 dark:focus:text-gray-400">
                    Education/Learning
                </button>

                <button role="tab" type="button" (click)="showAutomotive()"
                    class="flex whitespace-nowrap items-center h-8 px-5 font-medium rounded-lg outline-none focus:ring-2 focus:ring-yellow-600 focus:ring-inset hover:text-gray-800 hover:bg-white focus:text-yellow-600 dark:text-gray-400 dark:hover:text-gray-300 dark:focus:text-gray-400">
                    Automotive
                </button>

                <button role="tab" type="button" (click)="showHomeImprovement()"
                    class="flex whitespace-nowrap items-center h-8 px-5 font-medium rounded-lg outline-none focus:ring-2 focus:ring-yellow-600 focus:ring-inset hover:text-gray-800 hover:bg-white focus:text-yellow-600 dark:text-gray-400 dark:hover:text-gray-300 dark:focus:text-gray-400">
                    Home Improvement
                </button>

                <button role="tab" type="button" (click)="showEntertainment()"
                    class="flex whitespace-nowrap items-center h-8 px-5 font-medium rounded-lg outline-none focus:ring-2 focus:ring-yellow-600 focus:ring-inset hover:text-gray-800 hover:bg-white focus:text-yellow-600 dark:text-gray-400 dark:hover:text-gray-300 dark:focus:text-gray-400">
                    Entertainment
                </button>

                <button role="tab" type="button" (click)="showHealth()"
                    class="flex whitespace-nowrap items-center h-8 px-5 font-medium rounded-lg outline-none focus:ring-2 focus:ring-yellow-600 focus:ring-inset hover:text-gray-800 hover:bg-white focus:text-yellow-600 dark:text-gray-400 dark:hover:text-gray-300 dark:focus:text-gray-400">
                    Health
                </button>
            </nav>
        </div>
        <div class="mt-10 mb-4 grid gap-8 sm:grid-cols-2 md:mb-8 lg:grid-cols-3 xl:grid-cols-4">
            <div class="border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700 bg-gray-50 dark:bg-gray-800"
                *ngFor="let item of productList" data-aos="fade-up">
                <!-- <a href="#">
                        <img class="rounded-t-lg" [src]="item.img" alt="" />
                    </a> -->
                <div class="relative overflow-hidden group">
                    <img class="object-cover w-full h-full transition-transform duration-300 transform group-hover:scale-125"
                        [src]="item.image_url" alt="Product">
                    <div class="absolute inset-0 flex items-center justify-center">
                        <button (click)="goToCategoryProducts(item.id)"
                            class="bg-green-700 text-white py-2 px-6 rounded-full font-bold hover:bg-gray-300 hover:text-black">View
                            Products</button>
                    </div>
                </div>
                <div class="p-5">
                    <a href="#">
                        <h5 class="text-xl font-bold tracking-tight text-gray-900 dark:text-white">
                            {{item.name}}</h5>
                    </a>
                </div>
            </div>
        </div>



    </div>
    <!-- /row -->
    <!-- /container -->

</div>
<div class="wave-divider dark:bg-green-800">
    <svg data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1200 120" preserveAspectRatio="none">
        <path
            d="M321.39,56.44c58-10.79,114.16-30.13,172-41.86,82.39-16.72,168.19-17.73,250.45-.39C823.78,31,906.67,72,985.66,92.83c70.05,18.48,146.53,26.09,214.34,3V0H0V27.35A600.21,600.21,0,0,0,321.39,56.44Z"
            class="fill-green-100"></path>
    </svg>
</div>
<!-- /SECTION -->