<section class="relative overflow-hidden bg-white dark:bg-gray-900">
    <div class="mt-2 md:mt-0 py-12 pb-6 sm:py-16 lg:pb-24 overflow-hidden">
        <div class="px-4 mx-auto max-w-7xl sm:px-6 lg:px-8 relative">
            <div class="justify-center items-center relative mt-12 lg:mt-20">
                <div class="absolute inset-x-0 hidden xl:px-44 top-2 md:block md:px-20 lg:px-28">
                    <svg class="w-full" xmlns="http://www.w3.org/2000/svg" width="875" height="48" viewBox="0 0 875 48"
                        fill="none">
                        <path
                            d="M2 29C20.2154 33.6961 38.9915 35.1324 57.6111 37.5555C80.2065 40.496 102.791 43.3231 125.556 44.5555C163.184 46.5927 201.26 45 238.944 45C312.75 45 385.368 30.7371 458.278 20.6666C495.231 15.5627 532.399 11.6429 569.278 6.11109C589.515 3.07551 609.767 2.09927 630.222 1.99998C655.606 1.87676 681.208 1.11809 706.556 2.44442C739.552 4.17096 772.539 6.75565 805.222 11.5C828 14.8064 850.34 20.2233 873 24"
                            stroke="#D4D4D8" stroke-width="3" stroke-linecap="round" stroke-dasharray="1 12" />
                    </svg>
                </div>
                <div
                    class=" mb-8 relative grid grid-cols-1 text-center gap-y-8 sm:gap-y-10 md:gap-y-12 md:grid-cols-3 gap-x-12">
                    <div>
                        <div
                            class="flex items-center justify-center w-16 h-16 mx-auto bg-green-400 dark:bg-green-400 border-2 border-green-400 dark:border-green-400 rounded-full shadow">
                            <span class="text-xl font-semibold text-white dark:text-white">1</span>
                        </div>
                        <h3
                            class="mt-4 sm:mt-6 text-xl font-semibold leading-tight text-gray-900 dark:text-white md:mt-10">
                            Registerr
                        </h3>
                        <p class="mt-3 sm:mt-4 text-base text-gray-600 dark:text-gray-400">
                            Register with your email.
                        </p>
                    </div>
                    <div>
                        <div
                            class="flex items-center justify-center w-16 h-16 mx-auto bg-green-400 dark:bg-green-400 border-2 border-green-400 dark:border-green-400 rounded-full shadow">
                            <span class="text-xl font-semibold text-white dark:text-white">2</span>
                        </div>
                        <h3
                            class="mt-4 sm:mt-6 text-xl font-semibold leading-tight text-gray-900 dark:text-white md:mt-10">
                            Verify Account
                        </h3>
                        <p class="mt-3 sm:mt-4 text-base text-gray-600 dark:text-gray-400">
                            Verify your email address.
                        </p>
                    </div>
                    <div>
                        <div
                            class="flex items-center justify-center w-16 h-16 mx-auto bg-green-400 dark:bg-green-400 border-2 border-green-400 dark:border-green-400 rounded-full shadow">
                            <span class="text-xl font-semibold text-white dark:text-white">3</span>
                        </div>
                        <h3
                            class="mt-4 sm:mt-6 text-xl font-semibold leading-tight text-gray-900 dark:text-white md:mt-10">
                            Login
                        </h3>
                        <p class="mt-3 sm:mt-4 text-base text-gray-600 dark:text-gray-400">
                            Login to the official Website
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div>
        <figure>
            <blockquote class="text-center text-xl font-medium leading-8 text-gray-900 sm:text-2xl sm:leading-9">
                <p>“You are not a registered User, Please click the link below to register.”
                </p>
            </blockquote>
            <figcaption class="mt-10">
                <div class="mt-4 flex items-center justify-center space-x-3 text-base">
                    <div (click)="redirect()"
                        class="text-4xl w-1/6 text-center font-semibold cursor-pointer relative before:absolute before:bg-green-200 before:bottom-0 before:left-0 before:h-full before:w-full before:origin-bottom before:scale-y-[0.35] hover:before:scale-y-100 before:transition-transform before:ease-in-out before:duration-500">
                        <span class="relative">Register</span>
                    </div>
                </div>
            </figcaption>
        </figure>
    </div>
</section>